<div class="flex flex-col gap-6 pb-4">
  <div *ngFor="let message of [0,1,2,3,4,5,6,7,8,9]" class="flex flex-row message w-[90%] {{ message%2===0 ? 'me' : '' }}">
    <div class="w-32">
      <p-avatar image="/assets/images/reddit.png" shape="circle" size="normal"></p-avatar>
    </div>
    <div>
      <p class="mb-2">
        <strong>You</strong>
        <span class="ml-2 text-sm text-gray"> 02:22 AM</span>
      </p>
      <div *ngIf="message!==7; else document" class="p-4 rounded-2xl content text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste at, excepturi consequatur pariatur culpa odit harum dolor dicta corrupti? Numquam, dolorem. Magni qui laboriosam placeat fugit id quisquam? Laudantium, consectetur?
      </div>
      <ng-template #document>
        <figure class="relative flex flex-row items-center justify-center w-2/3 overflow-hidden h-60 rounded-2xl content">
          <img class="object-cover w-full" src="/assets/images/home-banner.png" alt="">
          <div class="absolute bottom-0 flex flex-row justify-around w-full py-4 bg-primary">
            <button pButton severity="info">Prévisualiser</button>
            <button pButton severity="secondary">Télécharger</button>
          </div>
        </figure>
      </ng-template>
    </div>
  </div>
</div>