<div class="flex flex-col h-full gap-6 pb-4">
  <ng-container *ngIf="!loadingMessages; else loading">
    <ng-container *ngIf="messages.length>0; else emptyDiscussion">
        <div *ngFor="let message of messages" class="flex flex-row message w-[98%] lg:w-[90%] {{ message.sender==='user' ? 'me' : '' }}">
          <div class="w-32 mr-2">
            <p-avatar image="assets/images/reddit.png" shape="circle" size="normal"></p-avatar>
          </div>
          <div>
            <p class="mb-2">
              <strong>{{ message.sender==='user' ? 'You' : 'Assistant' }}</strong>
              <span class="ml-2 text-sm text-gray"> {{ message.date | date }}</span>
            </p>
            <div class="p-4 leading-relaxed whitespace-pre-line rounded-2xl content text-secondary" [innerHTML]="message.content"></div>
            <ng-container *ngIf="message.document as attachment">
              <figure class="relative flex flex-row items-center justify-center mt-4 overflow-hidden w-80 h-60 rounded-2xl">
                <img class="object-cover w-full" src="assets/images/home-banner.png" alt="">
                <div class="absolute bottom-0 flex flex-row justify-around w-full py-4 bg-primary">
                  <button pButton severity="info" (click)="previewDocument(attachment.url)">Prévisualiser</button>
                  <!-- <a *ngIf="message.paymentUrl" pButton class="w-32" severity="secondary" [href]="message.paymentUrl">Acheter</a> -->
                  <a *ngIf="!isPreview" pButton severity="secondary" download [loading]="processState === PROCESS_STATES.LOADING" (click)="onInitDownload(attachment)">Télécharger</a>
                </div>
              </figure>
              <button *ngIf="jobSelected && !isPreview" pButton class="mt-2" severity="info" [outlined]="true" label="Postuler maintenant" (click)="onApply()"></button>
            </ng-container>
            <ng-container *ngIf="message.paymentUrl">
              <a pButton severity="info" class="mt-2" [outlined]="true" label="Proceder au paiement maintenant" [href]="message.paymentUrl"></a>
            </ng-container>
          </div>
        </div>
    </ng-container>
    <ng-template #emptyDiscussion>
      <div class="flex flex-col items-center justify-center gap-4 py-12 text-center">
        <i class="scale-[2] p-2 text-gray pi pi-comments italic"></i>
        <p class="text-lg italic font-semibold text-gray">Écris <strong>Créer mon CV</strong> pour commencer.</p>
        <p class="max-w-md text-sm italic text-gray">
          Lance une discussion avec l’assistant pour commencer à construire ton CV, ou télécharge simplement ton dernier CV. Je pourrai en extraire les informations essentielles et t’aider à les améliorer pour créer une version encore plus efficace.
        </p>
      </div>
    </ng-template>
  </ng-container>
  
  <ng-template #loading>
    <div class="flex flex-row items-center justify-center w-full h-full min-h-[60vh]">
      <p class="text-5xl text-center text-primary"><i class="pi pi-spinner animate-spin"></i></p>
    </div>
  </ng-template>

  <ng-container *ngIf="typingState===PROCESS_STATES.LOADING">
    <div class="inline-flex items-center gap-1 px-3 py-2 mt-2 ml-10 rounded-full shadow-sm bg-primary/15 w-fit">
      <span class="w-2.5 h-2.5 bg-primary rounded-full animate-ping"></span>
      <span class="w-2.5 h-2.5 bg-primary rounded-full animate-ping delay-200"></span>
      <span class="w-2.5 h-2.5 bg-primary rounded-full animate-ping delay-400"></span>
    </div>
  </ng-container>
  <ng-container *ngIf="typingState===PROCESS_STATES.ERROR">
    <p-message severity="error" text="L'envoi de message a échoué, veuillez ressayer." class="w-full mb-4"></p-message>
  </ng-container>
</div>

<p-dialog header="Prévisualisation du document" [modal]="true" [(visible)]="displayDocumentPreview" [maximizable]="true">
  <div class="relative">
    <p *ngIf="processState===PROCESS_STATES.LOADING" class="text-2xl text-center text-primary"><i class="pi pi-spinner animate-spin"></i></p>
    <pdf-viewer #pdfViewer
      [src]="pdfSrc"
      [render-text]="false"
      [original-size]="false"
      class="w-[60vh] h-[80vh] {{ isPreview ? 'blur-[1px]' : '' }}"
    ></pdf-viewer>
    <a [href]="getPaymentUrl()"><p-message *ngIf="isPreview" severity="info" class="absolute w-full scale-75 inset-y-1/2" text="Procèdes au paiement pour obtenir le document complet, sans filligrane ni floutage."></p-message></a>
    <p-message *ngIf="processState===PROCESS_STATES.ERROR" severity="error" text="Erreur de chargement du documment. Veuillez ressayer." class="w-full mb-4"></p-message>
  </div>

  <ng-template #footer>
    <div class="flex flex-row justify-center gap-4">
      <p-button label="Fermer" [text]="true" severity="secondary" (click)="displayDocumentPreview = false" />
      <p-button *ngIf="!isPreview" label="Télécharger" [outlined]="true" severity="info" [disabled]="processState===PROCESS_STATES.LOADING" [loading]="processState===PROCESS_STATES.LOADING" (click)="download(pdfSrc)" />
    </div>
  </ng-template>
</p-dialog>

<p-dialog [visible]="displayFileNameDialog" header="Télécharger {{ docToDownload ? (docToDownload.type === DOCUMENT_TYPES.CV ? 'le CV' : 'la lettre de motivation') : '' }}" [modal]="true" [closable]="true" styleClass="w-[90%] lg:!w-1/2">
  <div class="flex flex-col gap-8 py-2">

    <p-floatlabel variant="on">
      <input #filename pInputText type="text" [value]="buildFileName()" class="w-full">
      <label for="on_label">Nom du fichier</label>
    </p-floatlabel>

    <div class="flex justify-center gap-2">
      <button pButton class="flex-1 block" label="Annuler" severity="secondary" (click)="displayFileNameDialog = false"></button>
      <button pButton class="flex-1 block" label="Confirmer" severity="info" [disabled]="filename.value.length===0" (click)="download(filename.value)"></button>
    </div>
  </div>
</p-dialog>
