<div class="flex min-h-screen">
  <!-- Left Panel -->
  <div class="items-center justify-center hidden w-full p-16 text-white  lg:w-5/12 bg-primary lg:flex">
    <div>
      <h1 class="mb-8 text-4xl font-bold lg:text-5xl">Ma personne, nous sommes ravi de t’accueillir parmi nous...</h1>
      <p class="text-lg lg:text-xl opacity-90">Nous comprenons que choisir une orientation académique et professionnelle est une etape
importante de ta vie, et nous sommes là pour te guider tout au long de ce processus. </p>
    </div>
  </div>
  
  <!-- Right Panel -->
  <div class="flex items-center justify-center w-full p-8 bg-white lg:w-7/12">
    <div *ngIf="processState === PROCESS_STATES.SUCCESS; else signUp" class="flex flex-col gap-4 text-center">
      <img class="w-24 mx-auto" src="/assets/images/success-icon.svg" alt="success">
      <h2 class="text-2xl font-semibold text-primary">Félicitations</h2>
      <p>Tu as désormais un compte chez nous.</p>
    </div>
    
    <ng-template #signUp>
      <div class="w-full max-w-md">
        <p class="text-sm">Allons-y commençons</p>
        <h2 class="mb-8 text-2xl font-semibold text-gray-800">Créer un Compte</h2>
        
        <form (ngSubmit)="onSubmit(signUpForm.value)" #signUpForm="ngForm" class="flex flex-col gap-6">
          
          <!-- Name Field -->
          <p-floatlabel variant="on">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-700">Nom</label>
            <input pInputText type="text" id="name" name="name" class="w-full" placeholder="Johnson Doe" ngModel required>
          </p-floatlabel>

          <!-- First Name Field -->
          <p-floatlabel variant="on">
            <label for="firstName" class="block mb-2 text-sm font-medium text-gray-700">Prénom</label>
            <input pInputText type="text" id="firstName" name="firstName" class="w-full" placeholder="John" ngModel required>
          </p-floatlabel>

          <!-- Email Field -->
          <p-floatlabel variant="on">
            <input type="email" id="email" name="email" pInputText [invalid]="email.invalid && email.touched" placeholder="johndoe@exemple.com" autocomplete="email" ngModel #email="ngModel" class="w-full" required email>
            <label for="email" class="mb-2 text-sm font-medium text-gray-700 ">Email</label>
          </p-floatlabel>

          <!-- Phone Field -->
          <p-floatlabel variant="on">
            <input type="tel" id="phone" name="phone" pInputText placeholder="Entrer votre numéro de téléphone" autocomplete="tel" ngModel class="w-full" required>
            <label for="phone" class="mb-2 text-sm font-medium text-gray-700 ">Téléphone</label>
          </p-floatlabel>
          
          <!-- Password Field -->
          <p-floatlabel variant="on">
            <p-password type="password" inputStyleClass="w-full" id="password" name="password" class="w-full" placeholder="Fournir un mot de passe" [toggleMask]="true" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$" strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$" autocomplete="password" variant="filled" ngModel required>
              <ng-template #footer>
                <p-divider />
                <ul class="pl-2 my-0 leading-normal">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                </ul>
              </ng-template>
            </p-password>
            <label for="password" class="mb-2 text-sm font-medium text-gray-700">Password</label>
          </p-floatlabel>
          
          <!-- Confirm Password Field -->
          <p-floatlabel variant="on">
            <p-password type="password" inputStyleClass="w-full" id="confirmPassword" name="confirmPassword" class="w-full"  placeholder="Confirmer le mot de passe." [toggleMask]="true" [feedback]="false" autocomplete="password" ngModel required></p-password>
            <label for="confirmPassword" class="mb-2 text-sm font-medium text-gray-700">Confirmer le mot de passe</label>
          </p-floatlabel>
          
          <!-- Remember Me & Forgot Password -->
          <div class="flex items-center justify-between mb-6">
            <div class="flex items-center gap-2">
              <p-checkbox #acceptTerms id="remember" class="w-4 h-4 mr-1 text-blue-600 border-gray-300 rounded cursor-pointer focus:ring-blue-500" [binary]="true" required></p-checkbox>
              <div>
                <label for="remember" class="text-sm text-gray-700 cursor-pointer select-none">
                  En créant ce compte, cela signifie que vous acceptez nos 
                  <a href="#" class="text-primary hover:underline">Conditions d'utilisation</a> et la 
                  <a href="#" class="text-primary hover:underline">Politique de confidentialité</a>.
                </label>
              </div>
            </div>
          </div>
          
          <!-- Success Message -->
          <p-message *ngIf="processState===PROCESS_STATES.SUCCESS" severity="success" text="Compte crée avec succès !" class="w-full mb-4"></p-message>
          <!-- Error Message -->
          <p-message *ngIf="processState===PROCESS_STATES.ERROR" severity="error" text="Une erreur est survenue lors de la création du compte." class="w-full mb-4"></p-message>
          
          <!-- Submit Button -->
          <button pButton type="submit" class="w-full bg-primary" severity="info" [disabled]="signUpForm.invalid || !acceptTerms.checked || processState===PROCESS_STATES.LOADING || (signUpForm.value.password!==signUpForm.value.confirmPassword)" [loading]="processState === PROCESS_STATES.LOADING">Créer</button>
          
          <!-- Sign Up Link -->
          <div class="mt-6 text-center">
            <span class="text-sm text-gray-600">J'ai déjà un compte ? </span>
            <a routerLink="/auth/login" class="text-sm font-medium text-primary hover:underline">
              LOGIN HERE
            </a>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>