<div *ngIf="company" class="flex flex-col gap-8 p-8 border rounded-lg shadow border-divide-color">
  <div class="flex flex-row items-center gap-4">
    <figure class="overflow-hidden rounded-lg size-24"><img [src]="company.logo" class="object-cover w-full" [alt]="company.name"></figure>
    <div class="flex flex-col justify-around gap-4">
      <h3 class="text-2xl font-semibold">{{ company.name }}</h3>
      <p class="text-md">Service de réseautage social</p>
    </div>
  </div>
  <div>
    <ul class="flex flex-col gap-2 mb-8 text-sm">
      <li>
        <span>Fondée le :</span>
        <span>{{ company.creationYear | date }}</span>
      </li>
      <li>
        <span>Type d'organisation :</span>
        <span>{{ company.type }}</span>
      </li>
      <li>
        <span>Taille de l'entreprise :</span>
        <span>{{ company.size }}</span>
      </li>
      <li>
        <span>Téléphone :</span>
        <span>{{ company.phone }}</span>
      </li>
      <li>
        <span>Email :</span>
        <span>{{ company.email }}</span>
      </li>
      <li>
        <span>Site web :</span>
        <span>{{ company.website }}</span>
      </li>
    </ul>
    <div *ngIf="company.socialNetworks as socialNetworks" class="flex flex-row gap-2 justify-normal">
      <a *ngIf="socialNetworks.facebookUrl as url" [href]="url" class="group"><i class="text-2xl group-hover:text-secondary text-primary pi pi-facebook"></i></a>
      <a *ngIf="socialNetworks.twitterUrl as url" [href]="url" class="group"><i class="text-2xl group-hover:text-secondary text-primary pi pi-twitter"></i></a>
      <a *ngIf="socialNetworks.instagramUrl as url" [href]="url" class="group"><i class="text-2xl group-hover:text-secondary text-primary pi pi-instagram"></i></a>
      <a *ngIf="socialNetworks.youtubeUrl as url" [href]="url" class="group"><i class="text-2xl group-hover:text-secondary text-primary pi pi-youtube"></i></a>
    </div>
  </div>
</div>