<header>
  <nav class="container flex items-center justify-between px-16 py-8 mx-auto text-sm bg-white">
    <img src="/assets/images/logo-laboussole.png" alt="Laboussole Logo" class="block w-20" />
    <ul class="flex flex-row justify-around text-center">
      <a class="border-none" routerLink="/"><li>Accueil</li></a>
      <a class="" routerLink="/jobs"><li>Trouver un emploi</li></a>
      <a class="" routerLink="/cv-builder"><li>Mon cv pro</li></a>
      <a class="" routerLink="/cv-builder"><li>Ma lettre de motivation</li></a>
    </ul>
    <div class="flex flex-row gap-4">
      <div class="flex flex-row items-center flex-1 px-4 py-2 rounded-full bg-[#F0F1F2] w-40">
        <i class="block mr-2.5 align-middle pi pi-search"></i>
        <input class="bg-transparent outline-none" icon="pi pi-marker" type="text" name="search" id="search" placeholder="Recherche">
      </div>
      <button class="px-6 py-4 rounded-full whitespace-nowrap bg-primary text-secondary">Sign up</button>
      <button class="px-6 py-4 rounded-full whitespace-nowrap bg-light-blue">Login</button>
    </div>
  </nav>
</header>