<header>
  <nav class="container flex items-center justify-between px-4 py-8 mx-auto text-sm bg-white lg:px-16">
    <a class="!border-none" routerLink="/home"><img src="assets/images/logo-laboussole.png" alt="Laboussole Logo" class="block w-20" /></a>
    <ul class="flex-row justify-around hidden text-center lg:flex">
      <a class="border-none" routerLink="/"><li>Accueil</li></a>
      <a class="" routerLink="/jobs"><li>Trouver un emploi</li></a>
      <a class="" routerLink="/cv-builder" [queryParams]="{ document: DOCUMENT_TYPES.CV }"><li>Mon cv pro</li></a>
      <a class="" routerLink="/cv-builder" [queryParams]="{ document: DOCUMENT_TYPES.LETTER }"><li>Ma lettre de motivation</li></a>
    </ul>
    <div class="flex-row hidden gap-4 lg:flex">
      <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm.value.search)" class="flex flex-row items-center flex-1 w-40 px-2 py-1 rounded-full bg-input-background">
        <input class="flex-1 bg-transparent outline-none px-2" type="text" name="search" placeholder="Recherche" aria-label="Recherche" ngModel required/>
        <button type="submit" class="flex items-center justify-center p-2 rounded-full hover:bg-gray-200 transition">
          <i class="pi pi-search"></i>
        </button>
      </form>
      <ng-container *ngIf="user; else loggedOut">
        <button class="font-semibold rounded-full size-11 text-secondary bg-primary" (click)="userMenu.toggle($event)">{{ getInitials() }}</button>
      </ng-container>
      <ng-template #loggedOut>
        <button class="px-6 py-4 rounded-full whitespace-nowrap bg-primary text-secondary" routerLink="/auth/sign-up">Sign up</button>
        <button class="px-6 py-4 rounded-full whitespace-nowrap bg-light-blue" routerLink="/auth/login">Login</button>
      </ng-template>
    </div>
    <div class="block lg:hidden">
      <p-button icon="pi pi-bars" severity="info" (click)="onToggleDrawer()"></p-button>
    </div>
  </nav>
</header>

<p-popover #userMenu>
  <ng-template pTemplate="content">
    <div class="flex flex-col gap-4 p-4">
      <div class="flex items-center gap-3 hover:cursor-pointer" (click)="modifyInfos()">
        <!-- <img src="https ://primefaces.org/cdn/primeng/images/demo/avatar/" alt="Profile" class="object-cover w-12 h-12 rounded-full" /> -->
        <span class="flex flex-row items-center justify-center font-semibold rounded-full size-11 text-secondary bg-primary" (click)="userMenu.toggle($event)">{{ getInitials() }}</span>
        <div class="flex flex-col">
          <p class="font-semibold text-gray-900">{{ user?.name }}</p>
          <p class="text-sm text-gray-500">{{ user?.email }}</p>
        </div>
      </div>
      <hr class="my-2" />
      <button pButton label="Me déconnecter" class="w-full" (click)="onLogout()" severity="danger" icon="pi pi-sign-out"></button>
    </div>
  </ng-template>
</p-popover>

 <p-drawer [(visible)]="displayDrawer" header="Laboussole" position="right">
    <nav class="container flex flex-col px-0 py-8 mx-auto text-sm bg-white">
      <ul class="flex flex-col justify-around gap-4 text-center">
        <a class="border-none drawer" routerLink="/" (click)="onToggleDrawer()"><li>Accueil</li></a>
        <a class="drawer" routerLink="/jobs" (click)="onToggleDrawer()"><li>Trouver un emploi</li></a>
        <a class="drawer" routerLink="/cv-builder" [queryParams]="{ document: DOCUMENT_TYPES.CV }" (click)="onToggleDrawer()"><li>Mon cv pro</li></a>
        <a class="drawer" routerLink="/cv-builder" [queryParams]="{ document: DOCUMENT_TYPES.LETTER }" (click)="onToggleDrawer()"><li>Ma lettre de motivation</li></a>
        <ng-container *ngIf="isAdmin">
          <p-divider></p-divider>
          <a class="drawer" routerLink="/admin/jobs/new" [queryParams]="{ document: DOCUMENT_TYPES.LETTER }" (click)="onToggleDrawer()"><li>Publier une offre d'emploi</li></a>
          <a class="drawer" routerLink="/admin/jobs" [queryParams]="{ document: DOCUMENT_TYPES.LETTER }" (click)="onToggleDrawer()"><li>Emplois</li></a>
          <a class="drawer" routerLink="/admin/enterprises" [queryParams]="{ document: DOCUMENT_TYPES.LETTER }" (click)="onToggleDrawer()"><li>Entreprises</li></a>
        </ng-container>
        <p-divider></p-divider>
        <a *ngIf="user" class="drawer" href="https://laboussole-edu.com/profil/0" (click)="onToggleDrawer()"><li>Mon compte</li></a>
        <button *ngIf="user" class="mt-4" pButton label="Me déconnecter" icon="pi pi-sign-out" severity="danger" (click)="onLogout()"></button>
        <button *ngIf="!user" class="mt-8" pButton label="Se connecter" routerLink="/auth/login" icon="pi pi-sign-out" severity="info"></button>
        <button *ngIf="!user" class="mt-2" pButton label="Créer un compte" routerLink="/auth/sign-up" icon="pi pi-sign-out" severity="info"></button>
      </ul>
    </nav>
</p-drawer>
