<div class="bg-secondary">
  <section class="bg-light-blue">
    <div class="container flex flex-col items-center justify-between gap-10 px-6 pt-8 pb-20 mx-auto lg:px-16 lg:flex-row">
      <div class="flex flex-col gap-20">
        <h1 class="text-[4em] lg:text-[5em] font-semibold leading-[1.3] title">Trouve ton <br><span>emploi</span> de <span>rêve</span></h1>
        <div>
          <div class="flex flex-col gap-8 p-4 pl-6 mb-6 rounded-md shadow lg:divide-x lg:flex-row divide-divide-color border-gray bg-secondary">
            <div class="whitespace-nowrap">
              <i class="mr-4 text-primary pi pi-search"></i>
              <input class="h-full text-sm border-none outline-none" type="text" name="search-job" id="search-job" placeholder="Titre du poste, Mot-clé, ...">
            </div>
            <div class="lg:pl-8 whitespace-nowrap">
              <i class="mr-4 text-primary pi pi-map-marker"></i>
              <input class="h-full text-sm border-none outline-none" type="text" name="search-job" id="search-job" placeholder="Votre emplacement">
            </div>
            <p-button class="mx-auto border-none lg:mx-0" severity="info" (click)="onSearch()">Rechercher</p-button>
          </div>
          <p class="text-sm"><label class="text-gray">Suggestion : </label> <a *ngFor="let interest of ((userInterests$|async) | slice:0:3) as interests; let i=index" routerLink="/jobs" class="hover:text-primary hover:font-semibold {{ i===interests.length-1 ? 'text-primary' : '' }}">{{ interest.name }}, </a> etc</p>
        </div>
      </div>
      <div class="relative">
        <div class="absolute flex flex-row items-center gap-4 p-4 rounded shadow-xl top-10 lg:-left-10 bg-secondary w-fit">
          <figure class="p-4 bg-primary"><img src="assets/icons/briefcase-duotone2.png" alt=""></figure>
          <div>
            <strong>175 354</strong>
            <p>Emploi en direct</p>
          </div>
        </div>
        <figure class="p-4 banner"><img src="assets/images/home-banner.png" alt=""></figure>
        <div class="absolute flex flex-row items-center gap-4 p-4 rounded shadow-xl lg:-right-10 -bottom-8 justify-self-end bg-secondary w-fit">
          <figure class="p-4 bg-muted-icon-background"><img src="assets/icons/briefcase-duotone1.png" alt=""></figure>
          <div>
            <strong>7 354</strong>
            <p>Emploi récents</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <ng-container *ngIf="recommendedJobs$|async as recommendedJobs">
    <section *ngIf="recommendedJobs.length>0" class="container px-6 pt-16 pb-12 mx-auto lg:px-14">
      <div class="flex flex-row justify-between gap-4 mb-14">
        <h1>Recommandations</h1>
        <button class="see-more-button" routerLink="/jobs">Voir plus &nbsp; <i class="align-middle pi pi-arrow-right"></i></button>
      </div>
      <div>
        <app-job-cards-list [jobs]="recommendedJobs"></app-job-cards-list>
      </div>
    </section>
  </ng-container>

  <ng-container *ngIf="trendingJobs$|async as trendingJobs">
    <section *ngIf="trendingJobs.length>0" class="container px-6 py-12 mx-auto lg:px-14">
      <div class="flex flex-row justify-between mb-14">
        <h1>Offres d'emploi vedettes</h1>
        <button class="see-more-button" routerLink="/jobs">Voir plus &nbsp; <i class="align-middle pi pi-arrow-right"></i></button>
      </div>
      <div>
        <app-job-cards-list [jobs]="trendingJobs"></app-job-cards-list>
      </div>
    </section>
  </ng-container>
  
  <ng-container *ngIf="recentJobs$|async as recentJobs">
    <section *ngIf="recentJobs.length>0" class="container px-6 py-12 mx-auto lg:px-14">
      <div class="flex flex-row justify-between mb-14">
        <h1>Offres d'emplois recents</h1>
        <button class="see-more-button" routerLink="/jobs">Voir plus &nbsp; <i class="align-middle pi pi-arrow-right"></i></button>
      </div>
      <div>
        <app-job-cards-list [jobs]="recentJobs"></app-job-cards-list>
      </div>
    </section>
  </ng-container>

  <section class="container px-6 pt-12 pb-20 mx-auto lg:px-14">
    <div class="flex flex-row justify-between mb-14">
      <h1>Catégories populaires</h1>
      <button class="see-more-button" (click)="showAllCategories=!showAllCategories">{{ showAllCategories ? 'Voir moins' : 'Voir plus' }} &nbsp; <i class="align-middle pi {{ showAllCategories ? 'pi-angle-up' : 'pi-angle-down' }}"></i></button>
    </div>
    <div *ngIf="categories$|async as categories" class="grid grid-cols-1 lg:grid-cols-4 gap-x-6 gap-y-8">
      <div *ngFor="let category of categories|slice:0:(showAllCategories ? categories.length : 4)" class="flex flex-row items-center justify-start gap-4 p-4 rounded hover:scale-[1.01] hover:shadow-xl hover:cursor-pointer group">
        <figure class="p-4 rounded bg-primary bg-opacity-15 w-fit group-hover:bg-opacity-100">
          <img class="group-hover:brightness-200 group-hover:contrast-200" src="assets/icons/pen-nib-duotone.png" alt="">
        </figure>
        <div>
          <h2>{{ category.name }}</h2>
          <p>{{ category.jobsCount }} postes ouverts</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light-gray">
    <div class="container px-4 pt-20 mx-auto pb-28 lg:px-14">
      <h1 class="mb-12 text-center">Témoignages des clients</h1>
      <p-carousel [value]="[0,1,2,3,4,5,6,7,8]" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="5000">
        <ng-template let-product #item>
          <div class="mx-4 mb-4"><app-testimony></app-testimony></div>
        </ng-template>
      </p-carousel>
    </div>
  </section>

</div>