<div class="bg-secondary">
  <section class="bg-light-blue">
    <div class="container flex flex-row items-center justify-between gap-10 px-16 pt-8 pb-16 mx-auto">
      <div class="flex flex-col gap-10">
        <h1 class="text-5xl">Trouve ton <span>emploi</span> de <span>rêve</span></h1>
        <div>
          <div class="flex flex-row gap-8 p-4 pl-6 mb-4 divide-x rounded shadow bg-secondary">
            <div class="whitespace-nowrap">
              <i class="mr-4 text-primary pi pi-search"></i>
              <input class="h-full" pInputText type="text" name="search-job" id="search-job" placeholder="Titre du poste, Mot-clé, ...">
            </div>
            <div class="pl-8 whitespace-nowrap">
              <i class="mr-4 text-primary pi pi-map-marker"></i>
              <input class="h-full" pInputText type="text" name="search-job" id="search-job" placeholder="Votre emplacement">
            </div>
            <p-button class="p-4 text-white rounded bg-primary">Rechercher</p-button>
          </div>
          <p><label class="text-gray">Suggestion:</label> Designer, Programmation, <span>Marketing numérique</span>, etc</p>
        </div>
      </div>
      <div class="relative">
        <div class="absolute flex flex-row items-center gap-4 p-4 rounded shadow top-10 -left-10 bg-secondary w-fit">
          <figure class="p-4 bg-primary"><img src="/assets/icons/briefcase-duotone2.png" alt=""></figure>
          <div>
            <strong>175 354</strong>
            <p>Emploi en direct</p>
          </div>
        </div>
        <figure class="p-4 banner"><img src="/assets/images/home-banner.png" alt=""></figure>
        <div class="absolute flex flex-row items-center gap-4 p-4 rounded shadow -right-10 -bottom-8 justify-self-end bg-secondary w-fit">
          <figure class="p-4 bg-muted-icon-background"><img src="/assets/icons/briefcase-duotone1.png" alt=""></figure>
          <div>
            <strong>7 354</strong>
            <p>Emploi récents</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="container py-6 mx-auto px-14">
    <div class="flex flex-row justify-between mb-12">
      <h1>Recommandations</h1>
      <p-button class="flex flex-row items-center px-4 border rounded text-primary" icon="pi pi-arrow-right" iconPos="right" variant="outlined">Voir tout &nbsp;</p-button>
    </div>
    <div class="grid grid-cols-3 gap-6">
      <app-job-card *ngFor="let job of recommendedJobs"></app-job-card>
    </div>
  </section>

  <section class="container py-6 mx-auto px-14">
    <div class="flex flex-row justify-between mb-12">
      <h1>Offres d'emploi vedettes</h1>
      <p-button class="flex flex-row items-center px-4 border rounded text-primary" icon="pi pi-arrow-right" iconPos="right" variant="outlined">Voir tout &nbsp;</p-button>
    </div>
    <div class="grid grid-cols-3 gap-6">
      <app-job-card *ngFor="let job of recommendedJobs"></app-job-card>
    </div>
  </section>
  
  <section class="container py-6 mx-auto px-14">
    <div class="flex flex-row justify-between mb-12">
      <h1>Offres d'emplois recents</h1>
      <p-button class="flex flex-row items-center px-4 border rounded text-primary" icon="pi pi-arrow-right" iconPos="right" variant="outlined">Voir tout &nbsp;</p-button>
    </div>
    <div class="grid grid-cols-3 gap-6">
      <app-job-card *ngFor="let job of recommendedJobs"></app-job-card>
    </div>
  </section>

  <section class="container py-6 mx-auto px-14">
    <div class="flex flex-row justify-between mb-12">
      <h1>Catégories populaires</h1>
      <p-button class="flex flex-row items-center px-4 border rounded text-primary" icon="pi pi-arrow-right" iconPos="right" variant="outlined">Voir tout &nbsp;</p-button>
    </div>
    <div class="grid grid-cols-4 gap-x-6 gap-y-8">
      <div *ngFor="let category of categories" class="flex flex-row items-center justify-start gap-4 p-4 rounded hover:scale-[1.01] hover:shadow-xl hover:cursor-pointer">
        <figure class="p-4 rounded bg-light-blue w-fit">
          <img src="/assets/icons/pen-nib-duotone.png" alt="">
        </figure>
        <div>
          <h2>Fraphisme et design</h2>
          <p>357 postes ouverts</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray">
    <div class="container py-24 mx-auto px-14">
      <h1 class="mb-8 text-center">Témoignages des clients</h1>
      <div class="flex flex-row gap-8">
        <div *ngFor="let testimonial of [0, 1, 2]" class="p-4 rounded-lg shadow bg-secondary">
          <div></div>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, qui aliquam doloribus cum odit hic vero enim excepturi quidem sequi magnam libero officia animi sit corporis distinctio tempore eius inventore?</p>
          <div class="flex flex-row items-center justify-start gap-4">
            <img class="rounded-full size-10" src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png">
            <div>
              <h3>Robert Fox</h3>
              <p>Designer UI/UX</p>
            </div>
          </div>
        </div>
      </div>

      <!-- <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-product #item>
            <div class="p-4 m-2 border border-surface rounded-border">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="w-full rounded-border" />
                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" class="absolute dark:!bg-surface-900" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                    </div>
                </div>
                <div class="mb-4 font-medium">{{ product.name }}</div>
                <div class="flex items-center justify-between">
                    <div class="mt-0 text-xl font-semibold">{{ '$' + product.price }}</div>
                    <span>
                        <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                    </span>
                </div>
            </div>
        </ng-template>
    </p-carousel> -->
    </div>
  </section>
</div>