<div class="p-4 border rounded-lg shadow hover:shadow-lg hover:border-primary hover:cursor-pointer">
  <div class="flex flex-row justify-start gap-4">
    <figure>
      <img src="/assets/images/reddit.png" alt="">
    </figure>
    <div>
      <h3>Reddit <span>En vedette</span></h3>
      <p>
        <i class="pi pi-map-marker"></i>
        Royaume-Uni de Grande-Bretagne
      </p>
    </div>
  </div>
  <div>
    <h2>Responsable mraketing</h2>
    <div class="flex flex-row justify-between">
      <p>Temps plein * 30k$-35k$</p>
      <p>
        <i class="pi pi-calendar"></i>
        4 jours restants
      </p>
    </div>
  </div>
</div>