<form #socialLinksForm="ngForm" class="flex flex-col gap-4">
  <h1 class="text-xl font-semibold">Liens réseaux sociaux</h1>
  <div class="flex flex-col gap-4">
    <div *ngFor="let socialNetwork of networks; let i = index" ngModelGroup="link{{i}}">
      <label class="block mb-2 text-sm font-semibold">
        Lien social {{ i + 1 }}
      </label>

      <div class="flex flex-row items-center justify-between gap-4">
        <p-inputgroup>
          <p-inputgroup-addon>
            <p-select [options]="socialNetworks" name="network" placeholder="Sélectionner un réseau" ngModel required />
          </p-inputgroup-addon>

          <input pInputText class="pl-4" type="text" name="url" placeholder="Lien vers la page" ngModel required />
        </p-inputgroup>

        <button pButton class="scale-[1.2]" icon="pi pi-times-circle" severity="secondary" size="large"
          (click)="removeAField(socialNetwork)">
        </button>
      </div>
    </div>

  </div>
  <div class="mt-4" *ngIf="socialNetworks.length>0">
    <!-- <button class="block w-full py-2 text-center rounded text-secondary bg-primary" (click)="addAField()"><i class="mr-2 align-middle pi pi-plus-circle"></i>Ajouter un nouveau lien social</button> -->
    <button pButton class="block w-full" severity="info" label="Ajouter un nouveau lien social" icon="pi pi-plus-circle"
      (click)="addAField()"></button>
  </div>  
  
  <p-message *ngIf="processState===PROCESS_STATES.SUCCESS" severity="success" text="Réseaux sociaux mis à jour!" class="w-full mb-4"></p-message>
  <p-message *ngIf="processState===PROCESS_STATES.ERROR" severity="error" text="Une erreur est survenue, veuillez ressayer." class="w-full mb-4"></p-message>

  <div class="flex flex-row gap-4">
    <button pButton severity="secondary" label="Précédent" (click)="onBack()"></button>
    <button pButton severity="info" label="Enregistrer et suivant" [disabled]="processState === PROCESS_STATES.LOADING" [loading]="processState === PROCESS_STATES.LOADING" (click)="onSubmit(socialLinksForm.value)"></button>
  </div>
</form>