<div class="flex flex-col gap-2 pl-4 overflow-hidden border shadow bg-secondary border-divide-color rounded-3xl" [ngClass]="{ 'pointer-events-none': disabled }">
  <div *ngIf="attachment || profileAttachment" class="flex flex-row justify-start gap-4">
    <div *ngIf="attachment" class="relative py-2 overflow-hidden h-28 w-fit max-w-28 lg:max-36">
      <span class="absolute top-0 left-12 scale-[60%]"><button pButton icon="pi pi-times" [rounded]="true" [text]="false" severity="danger" (click)="onRemoveAttachment('cv')"></button></span>
      <img class="w-auto h-20" [src]="attachmentPreview" alt="" onerror="this.src = 'assets/images/pdf.png'">
      <p class="mt-2 text-xs italic font-semibold truncate text-gray">{{ attachment.name }}</p>
    </div>
    <div *ngIf="profileAttachment" class="relative py-2 overflow-hidden h-28 w-fit max-w-28 lg:max-36">
      <span class="absolute top-0 left-12 scale-[60%]"><button pButton icon="pi pi-times" [rounded]="true" [text]="false" severity="danger" (click)="onRemoveAttachment('profile')"></button></span>
      <img class="w-auto h-20" [src]="profileAttachmentPreview" alt="" onerror="this.src = 'assets/images/pdf.png'">
      <p class="mt-2 text-xs italic font-semibold truncate text-gray">{{ profileAttachment.name }}</p>
    </div>
  </div>

  <div class="flex flex-row items-center w-full gap-0.5 lg:gap-4 h-fit">
    <div class="relative {{ this.attachment ? 'rounded-full bg-primary bg-opacity-10' : '' }}">
      <p-button class="p-0" icon="pi pi-link" [rounded]="true" [text]="true" severity="secondary" (click)="attachmentPopover.toggle($event)"></p-button>
      <p-popover #attachmentPopover>
        <ng-template pTemplate="content">
          <div class="flex flex-col gap-2">
            <button pButton type="button" label="Image de profil" icon="pi pi-image" class="w-full" severity="secondary" (click)="profilePicInput.click(); attachmentPopover.hide()"></button>
            <button pButton type="button" label="Ancien CV" icon="pi pi-file" class="w-full" severity="secondary" (click)="oldCvInput.click(); attachmentPopover.hide()"></button>
          </div>
        </ng-template>
      </p-popover>
      <p-badge *ngIf="this.attachment" class="absolute bottom-0.5 right-0.5" severity="success"></p-badge>
    </div>
    <input #oldCvInput class="hidden" type="file" accept=".pdf, .png, .jpg, .docx" (change)="uploadAttachment($event, 'cv')">
    <input #profilePicInput class="hidden" type="file" accept=".png, .jpg, .jpeg, .gif" (change)="uploadAttachment($event, 'profile')">
    <textarea pTextarea class="flex-1 py-1 text-sm bg-transparent lg:text-md" style="border: none; box-shadow: 0;" rows="1"  name="" id="" minlength="{{ minLength }}" [(ngModel)]="text" [disabled]="!isChatSelected || disabled"></textarea>
    <div class="flex flex-row items-center gap-0.5 pl-0.5 lg:pl-2 p-2 lg:gap-4">
      <button *ngIf="text.length===0 && !disabled" class="hidden lg:block" pButton [text]="true" [rounded]="true" severity="secondary" icon="pi pi-microphone" (click)="visible=true; startSpeech()"></button>
      <p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [showHeader]="false">
        <div class="flex flex-col items-center justify-center gap-6 p-8">
          <div class="flex items-center justify-center">
            <div class="flex flex-row items-center justify-center w-20 h-20 border-4 rounded-full border-info animate-pulse">
              <span class="block"><i class="text-2xl pi pi-microphone"></i></span>
            </div>
          </div>
          <p class="text-lg font-semibold text-center">Microphone en écoute...</p>
            <button pButton type="button" icon="pi pi-stop" [rounded]="true" severity="info" label="Terminer de parler" (click)="stopSpeech(); visible = false"></button>
        </div>
      </p-dialog>
          
      <button pButton [rounded]="true" [disabled]="text.length<minLength" severity="info" icon="pi pi-arrow-up" (click)="onSend()"></button>
    </div>
  </div>
</div>
