<div class="flex min-h-screen">
  <!-- Left Panel -->
  <div class="flex items-center justify-center w-full p-16 text-white lg:w-5/12 bg-primary">
    <div>
      <h1 class="mb-4 text-4xl font-bold lg:text-5xl">Ma personne, nous sommes ravi de t'accueillir parmi nous...</h1>
       <p class="text-lg lg:text-xl opacity-90">Nous comprenons que choisir une orientation académique et professionnelle est une étape importante de ta vie, et nous sommes là pour te guider tout au long de ce processus.</p>
    </div>
  </div>
  
  <!-- Right Panel -->
  <div class="flex items-center justify-center w-full p-8 bg-white lg:w-7/12">
    <div class="w-full max-w-md">
      <p class="mb-2">Vas-y tu peux tout nous dire</p>
      <h2 class="mb-8 text-3xl font-semibold text-gray-800">Tes centres d'intérêts</h2>
      
      <div>
        
        <div *ngIf="interests$|async as interests" class="flex flex-row flex-wrap gap-2 mb-10">
          <button class="block {{ selectedInterestsIds.has(interest.id) ? 'selected' : '' }}" severity="secondary" pButton [outlined]="!selectedInterestsIds.has(interest.id)" [icon]="selectedInterestsIds.has(interest.id) ? 'pi pi-check' : ''" *ngFor="let interest of interests" (click)="toggleInterest(interest.id)">{{ interest.name }}</button>
        </div>
        
        <!-- Submit Button -->
        <div class="flex flex-row gap-8 text-center">
          <button pButton class="font-medium w-36" type="submit" severity="secondary" routerLink="/home">Passer</button>
          <button pButton class="font-medium w-36" severity="info" type="submit" [disabled]="selectedInterestsIds.size<3" (click)="onSubmit()">Suivant</button>
        </div>
      </div>
    </div>
  </div>
</div>