<div>
  <app-search-bar (onFilterRequested)="onClose()" (onSearch)="onGetSearch($event)" [filtering]="true"></app-search-bar>
  <form #filterForm="ngForm" class="flex flex-row h-full mt-4 divide-x divide-divide-color">
    <div class="flex-1 px-4 pb-4 lg:px-6">
      <h2 class="mb-4 text-lg font-semibold">Experience</h2>
      <ul class="flex flex-col gap-4 text-sm">
        <li *ngFor="let experience of experiences">
          <p-checkbox name="experience" id="{{ experience }}" [binary]="true" ngModel></p-checkbox>
          <label for="{{ experience }}" class="ml-2">{{ experience }}</label>
        </li>
      </ul>
    </div>
    <div class="flex-1 px-6 lg:px-8">
      <h2 class="mb-4 text-lg font-semibold">Type de poste</h2>
      <ul class="flex flex-col gap-4 text-sm">
        <li class="flex items-center" *ngFor="let contract of contractTypes">
          <p-checkbox id="{{ contract }}" name="contract" [binary]="true" ngModel></p-checkbox>
          <label for="{{ contract }}" class="ml-2"> {{ contract }} </label>
        </li>
      </ul>
    </div>
    <div class="hidden lg:flex-[3]"></div>
  </form>
</div>