<footer class="bg-primary text-secondary">
  <div class="container px-16 pt-16 pb-8 mx-auto">
    <h1 class="mb-8 text-2xl font-light leading-10 text-center">S'ORIENTER ET SE FORMER AVEC <br>LABOUSSOLLE C'EST RÉUSSIR !</h1>
    <hr>
    <div class="flex flex-row gap-4 mt-6 text-sm">
      <ul class="flex flex-col w-1/4 gap-4">
        <li class="flex flex-row items-center">
          <img class="inline w-4 mr-2" src="/assets/icons/phone.png" alt="">
          <div>
            <p><a href="tel:+237672436062">+237 672436062</a></p>
            <p><a href="tel:+237694216571">+237 694216571</a></p>
          </div>
        </li>
        <li>
          <img class="inline w-4 mr-2" src="/assets/icons/mail.png" alt="">
          <a href="mailto:laboussolesangmelima@gmail.com">laboussolesangmelima@gmail.com</a>
        </li>
        <li>
          <img class="inline w-4 mr-2" src="/assets/icons/location.png" alt="">
          <a href="">Sangmélima, Nkolguet</a>
        </li>
      </ul>

      <ul class="flex flex-col flex-1 gap-4">
        <li>
          <img class="inline w-4 mr-2" src="/assets/icons/file.png" alt="">
          <a href="#">Conditions générales d'utilisation</a>
        </li>
        <li>
          <i class="mr-2.5 align-middle pi pi-question-circle"></i>
          <a href="#">Besoin d'aide ?</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-row justify-end gap-4 links">
      <a href=""><img class="scale-90 size-4" src="/assets/icons/facebook.png" alt="Facebook"></a>
      <a href=""><img class="object-cover scale-125 size-4" src="/assets/icons/linkedin.png" alt="LinkedIn"></a>
      <a href=""><img class="scale-90 size-4" src="/assets/icons/insta.png" alt="Instagram"></a>
      <a href=""><img class="scale-90 size-4" src="/assets/icons/youtube.png" alt="Youtube"></a>
    </div> 
  </div>
</footer>