<div *ngIf="job$|async as job">
  <div class="py-8 bg-input-background">
    <p class="container px-16 mx-auto text-xl font-bold">Détails du poste</p>
  </div>

  <main *ngIf="job$|async as job" class="container flex flex-col gap-12 px-4 pt-12 pb-16 mx-auto lg:px-16 {{ isUserAuth ? '' : 'blur pointer-events-none select-none' }}">
    <div class="flex flex-col items-center justify-between lg:flex-row">
      <div class="flex flex-col items-center justify-start gap-4 lg:flex-row">
        <figure class="flex flex-row items-center justify-center overflow-hidden border rounded-full lg:border-none border-light-gray size-24">
          <img [src]="job.company.logo" class="object-cover w-full" [alt]="job.company.name">
        </figure>
        <h1 class="mb-8 text-3xl font-semibold lg:mb-0">
          {{ job.job.title }} 
          <span *ngIf="job.job.isFeatured" class="px-4 py-1 ml-6 text-sm text-red-300 bg-red-100 rounded-full whitespace-nowrap">En vedette</span>
        </h1>
      </div>
      <div>
        <button class="px-8 py-4 mb-2 text-xl font-semibold rounded text-secondary bg-primary" (click)="onShowSubmitModal(true)">Postulez maintenant <i class="ml-2 align-middle pi pi-arrow-right"></i></button>
        <p class="text-sm text-right">L'offre expire le : <span class="font-semibold text-red-600">{{ job.job.expirationDate | date }}</span></p>
      </div>
    </div>

    <div class="flex flex-col gap-6 lg:flex-row">
      <div class="flex-1 lg:w-2/3">
        <figure class="flex flex-row items-center justify-center w-full mb-12 overflow-hidden max-h-[35em] rounded-md">
          <img [src]="job.job.coverImage" class="object-cover w-full" [alt]="job.job.title">
        </figure>
        <p-accordion [value]="['0', '1', '2']" [multiple]="true">
          <p-accordion-panel value="0">
            <p-accordion-header>Qui sont-ils ?</p-accordion-header>
            <p-accordion-content>
              <div class="max-w-full m-0 overflow-hidden break-words" [innerHtml]="job.company.about"></div>
            </p-accordion-content>
          </p-accordion-panel>

          <p-accordion-panel value="1">
            <p-accordion-header>Descriptif du poste</p-accordion-header>
            <p-accordion-content>
              <div class="max-w-full m-0 overflow-hidden break-words" [innerHtml]="job.job.description"></div>
            </p-accordion-content>
          </p-accordion-panel>

          <!-- <p-accordion-panel value="2">
            <p-accordion-header>Profil recherché</p-accordion-header>
            <p-accordion-content>
              <div class="max-w-full m-0 overflow-hidden break-words whitespace-pre-wrap" [innerHtml]="job.job.profileRequired">{{ job.job.profileRequired }}</div>
            </p-accordion-content>
          </p-accordion-panel> -->
        </p-accordion>

        <div class="mx-auto mt-10 w-fit">
          <button class="px-8 py-4 mb-2 text-xl font-semibold rounded text-secondary bg-primary" (click)="onShowSubmitModal(true)">Postulez maintenant <i class="ml-2 align-middle pi pi-arrow-right"></i></button>
          <p class="text-sm text-right">L'offre expire le : <span class="font-semibold text-red-600">{{ job.job.expirationDate | date }}</span></p>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="p-8 border rounded-lg shadow border-divide-color">
          <h2 class="mb-6 text-2xl font-semibold">Aperçu du poste</h2>
          <div class="grid grid-cols-2 gap-6">
            <div>
              <img class="mb-4 w-7" src="assets/icons/CalendarBlank.png" alt="">
              <p class="mb-1 text-sm text-gray">POSTE PUBLIÉ :</p>
              <p class="text-sm font-semibold">{{ job.job.creationDate | date }}</p>
            </div>
            <div>
              <img class="mb-4 w-7" src="assets/icons/Timer.png" alt="">
              <p class="mb-1 text-sm text-gray">EXPIRATION DU POSTE :</p>
              <p class="text-sm font-semibold">{{ job.job.expirationDate | date }}</p>
            </div>
            <div>
              <img class="mb-4 w-7" src="assets/icons/MapPinLine.png" alt="">
              <p class="mb-1 text-sm text-gray">EMPLACEMENT :</p>
              <p class="text-sm font-semibold">{{ job.job.address }}</p>
            </div>
            <div>
              <img class="mb-4 w-7" src="assets/icons/briefcase.png" alt="">
              <p class="mb-1 text-sm text-gray">TYPE DE POSTE :</p>
              <p class="text-sm font-semibold capitalize">{{ job.job.jobType }}</p>
            </div>
            <div>
              <img class="mb-4 w-7" src="assets/icons/briefcase.png" alt="">
              <p class="mb-1 text-sm text-gray">EXPERIENCE :</p>
              <p class="text-sm font-semibold">{{ job.job.experience }} an(s)</p>
            </div>
          </div>
        </div>
        <div>
          <app-organization-card [company]="job.company"></app-organization-card>
        </div>
      </div>
    </div>
  </main>

  <section class="pb-20">
    <div>
      <h1 class="container px-4 pb-2 mx-auto text-3xl font-semibold lg:px-16">Emplois connexes</h1>
    </div>
    <div class="container px-4 py-16 mx-auto lg:px-16">
      <app-job-cards-list [jobs]="job.similarJobs"></app-job-cards-list>
    </div>
    
  </section>

  <p-dialog [modal]="true" [(visible)]="isSubmitModalOpen" [style]="{ width: '27rem', background: '#ffffff' }">
      <ng-template #header>
        <p class="mb-2 font-semibold text-md">Postuler pour le poste: {{ job.job.title }}</p>
      </ng-template>
      <ng-template #closeicon>
        <i class="relative pi pi-times-circle bottom-2.5"></i>
      </ng-template>
      <p-button class="relative mb-2 text-secondary" icon="pi pi-arrow-right" severity="info" iconPos="bottom" label="Adapter mon cv et ma lettre de motivation à cette offre" (click)="onAdjustCV(job.job.title, job.company.name)"></p-button>
      <div class="mt-2">
        <p-message *ngIf="state===PROCESS_STATES.SUCCESS" severity="success" text="Vous pouvez postuler !" class="w-full mb-4"></p-message>
        <p-message *ngIf="state===PROCESS_STATES.ERROR" severity="error" [text]="error" class="w-full mb-4"></p-message>
      </div>
      <p class="mt-2 text-sm text-right text-gray"><button class="italic" (click)="apply()">Je dispose déjà de tout le necessaire</button></p>
  </p-dialog>

  <p-dialog [modal]="true" [(visible)]="isDocUploadModalOpen" [style]="{ width: '27rem', background: '#ffffff' }">
    <ng-template #header>
      <p class="mb-2 font-semibold text-md">Postuler pour le poste: {{ job.job.title }}</p>
    </ng-template>
    <ng-template #closeicon>
      <i class="relative pi pi-times-circle"></i>
    </ng-template>
    <div class="flex flex-col gap-4">
      <div>
        <label class="block mb-1" for="">Choisir un CV</label>
        <div class="relative w-full">
          <p-select class="w-full px-2 py-1 border rounded border-gray" placeholder="Sélectionner..."></p-select>
        </div>
      </div>
      <div>
        <label class="block mb-1" for="">Lettre de motivation</label>
        <div class="relative w-full">
          <p-select class="w-full px-2 py-1 border rounded border-gray" name="" id="" placeholder="Sélectionner..."></p-select>
        </div>
      </div>
      <div class="flex flex-row justify-between mt-4">
        <button pButton severity="secondary" class="text-primary">Annuler</button>
        <button pButton severity="info" (click)="onShowSuccessfullySubmittedModal(true)">Postuler Maintenant <i class="ml-2 align-middle pi pi-arrow-right"></i></button>
      </div>
    </div>
  </p-dialog>

  <p-dialog #restrictedAccessDialog [modal]="true" [visible]="!isUserAuth" [closable]="false" [style]="{ width: '27rem', background: '#ffffff' }">
    <ng-template #header>
      <div class="w-full text-end">
        <p-button icon="pi pi-times" [text]="true" severity="secondary" (click)="goBack()"></p-button>
      </div>
    </ng-template>
    <div class="relative flex flex-col items-center gap-6 pb-8 text-center">
      <i class="text-4xl text-primary pi pi-lock"></i>
      <h2 class="text-2xl font-semibold">Accès restreint</h2>
      <p class="text-gray">Connecte-toi ou crée un compte pour accéder au xdétails de cette offre d'emploi.</p>
      <div class="flex w-full gap-4">
        <button pButton class="flex-1" severity="info" label="Créer un compte" (click)="goToSignUp()"></button>
        <button pButton class="flex-1" severity="info" label="Se connecter" (click)="goToLogin()"></button>
      </div>
    </div>  
  </p-dialog>
  
</div>
