<form #contactForm="ngForm" class="flex flex-col gap-4 p-0 py-4 lg:p-8">
  <!-- <div>
    <label for="">Emplacement sur la carte</label>
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-map-marker"></i>
      </p-inputgroup-addon>
      <input pInputText name="address" autocomplete="address-level1" type="text" placeholder="Adresse" ngModel>
    </p-inputgroup>
  </div> -->
  <div>
    <label for="">Téléphone</label>
    <p-inputgroup>
      <p-inputgroup-addon>
          <i class="pi pi-phone"></i>
      </p-inputgroup-addon>
      <input pInputText name="phone" type="tel" autocomplete="tel" placeholder="Numéro de téléphone" [disabled]="!editMode" ngModel/>
    </p-inputgroup>
  </div>
  <div>
    <label for="">Email</label>
    <p-inputgroup>
      <p-inputgroup-addon>
          <i class="pi pi-envelope"></i>
      </p-inputgroup-addon>
      <input pInputText name="email" type="email" autocomplete="email" placeholder="Adresse e-mail" [disabled]="!editMode" ngModel/>
    </p-inputgroup>
  </div>
  
  <p-message *ngIf="processState===PROCESS_STATES.SUCCESS" severity="success" text="Contacts mis à jour avec succès !" class="w-full mb-4"></p-message>
  <p-message *ngIf="processState===PROCESS_STATES.ERROR" severity="error" text="Une erreur est survenue, veuillez ressayer." class="w-full mb-4"></p-message>

  <div *ngIf="editMode" class="flex flex-row gap-4 mt-4">
    <button pButton severity="secondary" label="Précédent" (click)="onBack()"></button>
    <button pButton severity="info" label="Terminer l'édition" icon="pi pi-arrow-right" iconPos="right" [disabled]="processState===PROCESS_STATES.LOADING" [loading]="processState===PROCESS_STATES.LOADING" (click)="onSetContacts(contactForm.value)"></button>
  </div>
</form>